/*Flight API*/
#flight{
    display: flex;
    align-items: center;
}

/* Styling for the search form */
#search-form input {
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
    color: rgb(255, 255, 255, 0.7);
    background-color: rgb(255, 255, 255,0.1);
}

::placeholder {
    color: #dc7769;
}

#flight-btn {
    color: white;
    background-color: #dc7769;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
}

#favourites-btn {
    color: white;
    background-color: transparent;
    outline: none;
    border: 1px rgba(255, 255, 255, 0.7) solid;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
}

#favourites-btn:hover {
    color: rgb(255, 255, 255,0.6);
    border: 1px solid #26313e;
}

/* Styling for the datepickers */
.datepicker td,th{
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    font-family: 'Manjari', sans-serif;
    color: #dc7769;
}

/* Styling for the spinner */
#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
    margin-top: 3vh;
}

.spinner-grow {
    opacity: 0.7;
    width: 5vw;
    height: 5vw;
    margin-left: 40%;
    margin-top: 20%;
    background-color: #dc7769 ;
}

/* Error Message */
#error-display{
    display: flex;
    justify-content: center;
}

#error-message {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 5px 10px;
    color: red; 
    font-size: 0.9rem;
    text-align: center;
    width: 25vw;
}

/* List Styling */
ul {
    list-style: none;
    padding-left:0;
}

li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: rgb(255, 255, 255, 0.7);
}

/* Styling for the Divs Containing the Flight Text */
.flight-textbox-o, .more-div, .flight-textbox-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31vw;
}
.flight-display-o, .more-outbound-display, .more-return-display {    
    border-bottom: 1px #dc7769 dashed;
    width: 30vw;
}

.flight-display-o, .more-outbound-display, .more-return-display, .flight-display-r, .more-return-title, .more-outbound-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin: auto;
}

/* Styling for the flight text titles */
.more-return-title, .more-outbound-title{
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family:'dosis', sans-serif;
    margin: auto;
    margin-top: 10px;
    margin-left: -2.5vw;
    width: 100%;
    text-align: center;
}

.more-outbound-title {
    display:none;
}

/* Styling for the flight section content */
.departure-textbox-o, .more-departure-textbox-o, .more-departure-textbox-r,.departure-textbox-r, .arrival-textbox-o, .more-arrival-textbox-o, .more-arrival-textbox-r,.arrival-textbox-r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 30vh;
    margin:auto;
}

/* Styling for the plane icons */
.centre-textbox-o, .more-centre-textbox-o, .more-centre-textbox-r,.centre-textbox-r{
   display: flex;
   flex-direction: column;
    width: 10vw;
    height: 22vh;
    justify-content: center;
    margin:auto;   
}

#centre-planes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: -2.5vw;
}

.fa-plane {
    display: inline;
    color: rgb(255, 255, 255, 0.6);
    font-size: 1.5vw;
    text-align: center;
}

.fa-circle {
    display: inline;
    color: rgb(255, 255, 255, 0.6);
    font-size: 0.7vw;
    text-align: center;
}

#more-planes{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2.5vw;
}

.more-plane {
    display: inline;
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.5vw;
    text-align: center;
}

/* Styling for the 'See More' button */
.more-button {
    border:none;
    border-radius: 15px;
    outline: none;
    color: white;
    background-color: #dc7769;
    height: 5vh;
    width: 30vw;
}

.more-button:hover, #flight-btn:hover {
    background-color: #26313e;
}

@media only screen and (min-width: 700px) and (max-width: 885px){
    .centre-textbox-o, .more-centre-textbox-o, .more-centre-textbox-r,.centre-textbox-r{
        display: flex;
        flex-direction: column;
        width: 20vw;
        min-height:22vh;
        justify-content: center;
        padding-top:20px;
        margin:auto; 
    }

    .fa-plane {
        display: inline;
        color: rgb(255, 255, 255, 0.6);
        font-size: 2vw;
        text-align: center;
    }

    .fa-circle {
        display: inline;
        color: rgb(255, 255, 255, 0.6);
        font-size: 0.7vw;
        text-align: center;
    }

    #more-planes{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -2.5vw;
    }

    .more-plane {
        display: inline;
        color: rgb(255, 255, 255, 0.5);
        font-size: 2vw;
        text-align: center;
    }
}

 @media only screen and (min-width: 450px) and (max-width: 700px){ 
    #flight-info{
        margin-top: 30px;
    }

    #spinner {
        width: 100%;
        display: none;
        margin-top: 1vh;
    }
    
    .spinner-grow {
        opacity: 0.7;
        width: 10vw;
        height: 10vw;
        margin-left: 45%;
        margin-top: 7%;
        margin-bottom: 10%;
    }

    #error-message { 
        width: 80vw;
        border-radius: 30px;
        margin-top: 5px;
    }

    /* Styling for the Divs Containing the Flight Text */
    .flight-textbox-o, .more-div, .flight-textbox-r {
        width: 100vw;
        min-height:30vw;
    }
    .flight-display-o, .more-outbound-display, .more-return-display {    
        border-bottom: 1px #dc7769 dashed;
        width: 95vw;
    }

    .flight-display-o, .more-outbound-display, .more-return-display, .flight-display-r, .more-return-title, .more-outbound-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95vw;
        height: 40vh;
        margin: auto;
    }

    /* Styling for the flight text titles */
    .more-return-title, .more-outbound-title{
        display:flex;
        justify-content: center;
        font-size: 1.5rem;
        font-family:'dosis', sans-serif;
        margin: auto;
        margin-top: 10px;
        margin-left: -2.5vw;
        width: 100%;
        height: 2vh;
        text-align: center;
    }

    .more-outbound-title {
        display:none;
    }

    /* Styling for the flight section content */
    .departure-textbox-o, .more-departure-textbox-o, .more-departure-textbox-r,.departure-textbox-r, .arrival-textbox-o, .more-arrival-textbox-o, .more-arrival-textbox-r,.arrival-textbox-r{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20vw;
        min-height: 22vh;
        margin:auto;
    }

    /* Styling for the plane icons */
    .centre-textbox-o, .more-centre-textbox-o, .more-centre-textbox-r,.centre-textbox-r{
        display: flex;
        flex-direction: column;
        width: 20vw;
        min-height:22vh;
        justify-content: center;
        margin:auto;   
    }

    #centre-planes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: -2.5vw;
    }

    .fa-plane {
        display: inline;
        color: rgb(255, 255, 255, 0.6);
        font-size: 3vw;
        text-align: center;
    }

    .fa-circle {
        display: inline;
        color: rgb(255, 255, 255, 0.6);
        font-size: 1.1vw;
        text-align: center;
    }

    #more-planes{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -2.5vw;
    }

    .more-plane {
        display: inline;
        color: rgb(255, 255, 255, 0.5);
        font-size: 4vw;
        text-align: center;
    }

    /* Styling for the 'See More' button */
    .more-button {
        border:none;
        border-radius: 15px;
        outline: none;
        color: white;
        background-color: #dc7769;
        height: 5vh;
        min-width: 95vw;
    }

} 

/* For Smaller Devices */
@media only screen and (min-width: 200px) and (max-width: 450px){ 
    #flight-info{
        margin-top: 30px;
    }

    #spinner {
        width: 100%;
        display: none;
        margin-top: 1vh;
    }
    
    .spinner-grow {
        opacity: 0.7;
        width: 10vw;
        height: 10vw;
        margin-left: 45%;
        margin-top: 7%;
        margin-bottom: 10%;
    }

    #error-message { 
        width: 80vw;
        height: 20vh;
        border-radius: 15px;
        margin-top: 5px;
    }

    /* Styling for the Divs Containing the Flight Text */
    .flight-textbox-o, .more-div, .flight-textbox-r {
        width: 100vw;
        min-height:30vw;
    }
    .flight-display-o, .more-outbound-display, .more-return-display {    
        border-bottom: 1px #dc7769 dashed;
        width: 95vw;
    }

    .flight-display-o, .more-outbound-display, .more-return-display, .flight-display-r, .more-return-title, .more-outbound-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95vw;
        height: 40vh;
        margin: auto;
    }

    /* Styling for the flight text titles */
    .more-return-title, .more-outbound-title{
        display:flex;
        justify-content: center;
        font-size: 1.5rem;
        font-family:'dosis', sans-serif;
        margin: auto;
        margin-top: 30px;
        margin-left: -2.5vw;
        width: 100%;
        height: 2vh;
        text-align: center;
    }

    .more-outbound-title {
        display:none;
    }

    /* Styling for the flight section content */
    .departure-textbox-o, .more-departure-textbox-o, .more-departure-textbox-r,.departure-textbox-r, .arrival-textbox-o, .more-arrival-textbox-o, .more-arrival-textbox-r,.arrival-textbox-r{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30vw;
        min-height: 22vh;
        margin:auto;
    }

    /* Styling for the plane icons */
    .centre-textbox-o, .more-centre-textbox-o, .more-centre-textbox-r,.centre-textbox-r{
        display: flex;
        flex-direction: column;
        width: 20vw;
        min-height:22vh;
        justify-content: center;
        margin:auto;   
    }

    #centre-planes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: -2.5vw;
    }

    .fa-plane {
        display: inline;
        color: rgb(255, 255, 255, 0.6);
        font-size: 4vw;
        text-align: center;
    }

    .fa-circle {
        display: inline;
        color: rgb(255, 255, 255, 0.6);
        font-size: 2vw;
        text-align: center;
    }

    #more-planes{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -2.5vw;
    }

    .more-plane {
        display: inline;
        color: rgb(255, 255, 255, 0.5);
        font-size: 7vw;
        text-align: center;
    }

    /* Styling for the 'See More' button */
    .more-button {
        border:none;
        border-radius: 15px;
        outline: none;
        color: white;
        background-color: #dc7769;
        height: 5vh;
        min-width: 95vw;
        }
    }