/* General Styling for the Page */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #446372;
    font-family: 'Manjari', sans-serif;
    color: white;
}

/* Styling for the Header Section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;  
}

.header h1 {
    display: inline-block;
    font-size: 48px;  
}

p {
    font-size: 14px;
}

/* Styling for the Title */
.fare{
    font-weight: 300;
    font-family: 'Manjari', sans-serif;
    opacity: 0.9;
    color: #dc7769;
}

.forecast{
    font-weight: 300;
    font-family: 'Manjari', sans-serif;
    opacity: 0.8;
    color: white; 
}

/* Styling for the Hero Section */
.flightSearch {
    height: 500px;
    width: 100%;
    margin-bottom: 15px;
    background-image: url("../image/banner1.jpg");
    display: block;
    background-size: cover;
    background-position: center;
}
.mb-3{
    position:absolute;
    margin-left: 20%;
    margin-top: 10%;
    width: 900px;
}

/* Styling for the Msin Content Section */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    gap: 10px;  
}

.first {
    grid-column: span 1;
}

.card {
    background-color: #446372;
    border: none;
    color: rgb(255, 255, 255, 0.7);
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.card button {
    border:none;
    border-radius: 15px;
    outline: none;
    color: white;
    background-color: #dc7769;
    height: 5vh;
    width: 30vw;
}

.card button:hover {
    background-color: #26313e;
}

.card p {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

/* Styling for the Weather Section */
#Weather{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
    display:none;
}

/* Styling for the Currency Section */
#currency-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:none;
}

#currency-box {
    background-color: rgb(29, 45, 62, 0.6);
    padding: 10px;
    border-radius: 10px;
    width:95%;
    min-height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

#currency-display {
    font-size: 6.9vh;
    text-align:center;
}

/* Styling for the Favourites Section */
#favourites {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0; 
}

#favourites ul {
    margin-bottom:5px;
}

.card .favourites-button {
        border:none;
        border-radius: 15px;
        border: 1px solid rgb(255, 255, 255, 0.7); 
        color: white;
        background-color: transparent;
        height: 5vh;
        width: 30vw;
}

.card .favourites-button:hover {
    color: rgb(255, 255, 255,0.6);
    border: 1px solid #26313e;
}

/* Styling for the Clear Button Section */
.card #clear-button {
    border:none;
    border-radius: 15px;
    color: white;
    background-color: rgb(255, 255, 255, 0.2);
    height: 5vh;
    width: 30vw;
    margin-top: -20px;
    margin-bottom: 60px;
}

.card #clear-button:hover {
background-color: #dc7769;

}

/* Styling for the Footer Section */
.footer h2 {
    font-size: 10px;
    clear: both;
}

/* Responsiveness for Smaller Devices */
@media only screen and (max-width: 700px){
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    /* Search Bar Section */
    .input-group {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .input-group-button {
        display: flex;
        flex-direction: column;
        width: 85vw;
    }

    /* Weather Card Section */
    #weather-card {
        display: flex;
        justify-content: center;
        width: 100vw;
        font-family: 'Manjari', sans-serif;
    }

    #Weather {
        display: flex;
        justify-content: center;
        width: 90%; 
        margin-top: 40px;       
    }

    /* Currency Exchange Card Section */
    #currency_exchange {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        font-size: 0.8em;
    }

    #currency-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #currency-container h2 {
        font-size: 3.4vh;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 15px;       
    }

    #currency-box {
        margin: auto;
        text-align: center;
    }

    /* Favourites Section */
    #favourites {
        margin-top: 40px;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-bottom: 0;       
    }
    
    .card .favourites-button {
        border:none;
        border-radius: 15px;
        border: 1px solid rgb(255, 255, 255, 0.7); 
        color: white;
        background-color: transparent;
        height: 5vh;
        width: 80vw;
        margin-top: 5px;
    }

    /* Clear Button Section */
    .card #clear-button {
        border:none;
        border-radius: 15px;
        color: white;
        background-color: rgb(255, 255, 255, 0.2);
        height: 5vh;
        width: 80vw;
        margin-top: -20px;
        margin-bottom: 60px;
    }

    .card #clear-button:hover {
        background-color: #dc7769;
    }
}




